body{
   
    font-size: 62.5%;
}
.container
{
    margin: 10rem auto;
    padding: 0;
    max-width: 1240px;
    position: relative;
}
.text
{
    margin-top: 1rem;
    font-size: 2rem;
    font-family: fantasy;
    position: absolute;
    font-weight: 600;
    color: white;
    padding: 1rem;
}
.image
{
    width: 40%;
    height: 600px;
}
#btn
{
    margin-top: 1rem;
    background-color: #80A7B8;
    border: none;
    color: white;
    padding: 1rem;
    display: block;
    font-size: 1.4rem;
    font-family: fantasy;
    width: 40%;

}
