body {
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  width: 900px;
  margin: 2rem auto;
  background-color: gainsboro;
  border: 1px solid black;
  padding: 1rem;
}

.clearfix {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 190px 590px;
  grid-template-rows: auto;
  grid-template-areas:
    "image heading"
    "image text";
  column-gap: 1rem;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.image {
  grid-area: image;
  width: 100%;
}
.image img {
  padding: 0.5rem;
  border: 1px solid lightgray;
  box-shadow: 3px 6px 9px grey;
  max-width: 100%;
}
.heading {
  grid-area: heading;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.text {
  grid-area: text;
  font-size: 1rem;
  line-height: 1.5em;
}
@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
  .clearfix {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "image"
      "heading"
      "text";
    justify-items: center;
  }
  .heading
  {
    margin-top: 1rem;
  }
  .image
  {
    text-align: center;
  }

}
